.book-page .book-article figure {
  padding: 15px 0 15px 15px;
  float: right;
}

.book-page .book-article figcaption {
  background-color: #000;
  color: #fff;
  font-style: italic;
  padding: 2px;
  text-align: center;
}

.book-page .book-article img {
  width: 300px;
  float: right;
}

.book-page .book-article video {
  width: 200px;
  float: right;
}

.book-page .book-article .thumb-img {
  width: 200px;
  float: right;
}
